body {
  margin: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: #042747;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.listWrap .MuiTableSortLabel-icon {
  opacity: 1 !important;
  display: inline !important;
}

.textWrapperStyle div div div span {
  word-break: break-word;
}
.textWrapperStyle label {
  text-decoration: underline;
}

.listWrap .MuiTableSortLabel-root {
  flex-direction: row !important;
}

.listWrap th,
.listWrap td {
  text-align: left;
}

.listWrap td span {
  max-width: 120px;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.availableTimeField {
  width: 256px;
}

body > iframe {
  display: none;
}

.customSidebar {
  border-right: 2px solid rgb(53 48 94 / 17%);
}
.fieldTitle {
  text-decoration: underline;
}
.editIcon span {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.modalWrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #fff;
  border: 2px solid #000;
  box-shadow: 24px;
  padding: 4px;
}

.formError {
  color: red;
  font-size: 0.8em;
  margin-top: 5px;
  display: block;
}

.logoutMenuWrap div {
  min-width: 40px;
  display: inline-flex;
  flex-shrink: 0;
}
.logoutMenuWrap svg,
.logoutMenuWrap span {
  color: rgba(0, 0, 0, 0.54);
}

.modalWrap {
  width: 300px;
  max-width: 600px;
  display: flex;
  max-height: calc(100% - 64px);
  flex-direction: column;
  padding: 16px 0 0 24px;
  position: relative;
  overflow-y: auto;
  border: none;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%),
    0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);
}

@media (max-width: 600px) {
  .RaLoadingIndicator-loadedIcon-24 {
    padding: 0 !important;
  }
  .modalWrap {
    width: 80%;
  }

  .simple-form > .MuiCardContent-root {
    padding: 16px 10px 0;
  }
}
