body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  color: #042747;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.listWrap .MuiTableSortLabel-icon {
  opacity: 1 !important;
  display: inline !important;
}

.textWrapperStyle div div div span {
  word-break: break-word;
}

.listWrap .MuiTableSortLabel-root {
  flex-direction: row !important;
}

.listWrap th,
.listWrap td {
  text-align: left;
}

.listWrap td span {
  max-width: 120px;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.availableTimeField {
  width: 256px;
}

body>iframe {
  display: none;
}


@media(max-width: 600px) {
  .RaLoadingIndicator-loadedIcon-24 {
    padding: 0 !important;
  }
}