.form-box{
    position:relative;
}

.form-box label{
    display: block;
    font-size:1.2em;
    margin: 1em 0;
}

.form-box input, textarea{
    display: block;
    width: 100%;
    padding: .5rem .8rem .5rem .8rem;
    margin: 1em 0;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-box textarea{
    height: 200px;
}